/* === Animate on Scroll === */
[data-anime] {
    opacity: 0;    
    -webkit-transition: ease .6s;    
    -o-transition: ease .6s;    
    transition: ease .6s;
    -webkit-transition-delay: 0.4s;
         -o-transition-delay: 0.4s;
            transition-delay: 0.4s;
}

[data-anime="left"] {
    -webkit-transform: translate3d(-60px, 0, 0);
            transform: translate3d(-60px, 0, 0);
}

[data-anime="right"] {
    -webkit-transform: translate3d(60px, 0, 0);
            transform: translate3d(60px, 0, 0);
}

[data-anime="top"] {
    -webkit-transform: translate3d(0, -60px, 0);
            transform: translate3d(0, -60px, 0);
}

[data-anime="bottom"] {
    -webkit-transform: translate3d(0, 60px, 0);
            transform: translate3d(0, 60px, 0);
}

[data-anime].animate {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
}


/* === Animation Bars === */
.nav__burger::before,
    .nav__burger::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        background-color:  #ffff;
        border-radius: 5px;
}

.nav__burger--sticky::before,
    .nav__burger--sticky::after {
        background-color:  #509E87; 
    }

    .nav__burger::before {
        -webkit-transform: translateY(-7px);
            -ms-transform: translateY(-7px);
                transform: translateY(-7px);
    }

    .nav__burger::after {
        -webkit-transform: translateY(7px);
            -ms-transform: translateY(7px);
                transform: translateY(7px);
    }

    .nav__bars.open .nav__burger {
        -webkit-transform: translateX(-50px);
            -ms-transform: translateX(-50px);
                transform: translateX(-50px);
        background: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .nav__bars.open .nav__burger::before {
        -webkit-transform: rotate(45deg) translate(35px, -35px);
            -ms-transform: rotate(45deg) translate(35px, -35px);
                transform: rotate(45deg) translate(35px, -35px);
    }

    .nav__bars.open .nav__burger::after {
        -webkit-transform: rotate(-45deg) translate(35px, 35px);
            -ms-transform: rotate(-45deg) translate(35px, 35px);
                transform: rotate(-45deg) translate(35px, 35px);
    }