/* === Animate on Scroll === */
[data-anime] {
    opacity: 0;    
    transition: ease .6s;
    transition-delay: 0.4s;
}

[data-anime="left"] {
    transform: translate3d(-60px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(60px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -60px, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0, 60px, 0);
}


[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}


/* === Animation Bars === */
.nav__burger::before,
    .nav__burger::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 3px;
        background-color:  #ffff;
        border-radius: 5px;
}

.nav__burger--sticky::before,
    .nav__burger--sticky::after {
        background-color:  black; 
    }

.nav__burger::before {
    transform: translateY(-7px);
}

.nav__burger::after {
    transform: translateY(7px);
}

.nav__bars.open .nav__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.nav__bars.open .nav__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.nav__bars.open .nav__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}