/* === Header === */
@media(max-width: 800px) {
    .nav {
       
        &__list {
            -webkit-box-flex: 100%;
                -ms-flex: 100%;
                    flex: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            text-align: center;
            -webkit-transition: linear 0.205s;
            -o-transition: linear 0.205s;
            transition: linear 0.205s;
            height: 300px;
            background-color: #fafffb;
            width: 100%;
        }

        &__item {
            margin: 0;
        }

        &__link {
            line-height: 60px;
            color: #2b2b2b;
        }

        &__bars {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        &__burger {
            height: 2px;   
        }

        .hidden {
            visibility: hidden;
            opacity: 0;
            height: 0;
        }
    }
}

/* === Home === */
@media screen and (max-width: 1000px) {
    .home {
        
        &__content {
            max-width: 80%;
        }
    
        &__title {
            font-size: 36px; 
        }
    }
}

@media screen and (max-width: 600px) {
    .home {
        margin: 0 0 70px 0;

        &__background {
            height: 100vh;
        }

        &__content {
            max-width: 90%;
            top: 20%;
        }

        &__title {
            font-size: 28px;
            line-height: 1.4;
            margin: 0 0 25px 0;
        }

        &__paragraph {
            margin: 0 0 40px 0; 
        }
    }

    .search {
        width: 100%;
        height: 140px;
        padding: 20px 10px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        &__title {
            font-size: 14px;
        }

        &__description {
            font-size: 14px;
            margin: 0 0 10px 0;
        }

        &__btn {
            padding: 0 15px;
            -webkit-box-flex: 60%;
                -ms-flex: 60%;
                    flex: 60%;
            height: 50%;
            text-align: center;
        }
    }
}

@media screen and (max-width: 320px) {
        &__title {
            font-size: 24px;
        }

        &__background {
            height: 110vh;   
        }
    }


/* === Locations === */
@media screen and (max-width: 1024px) {
    .locations {

        &__title {
            max-width: 50%;
        }
    }
}

@media screen and (max-width: 800px) {

    .locations {

        &__title {
            max-width: 70%;    
        }
    }
}

/* === About === */
@media screen and (max-width: 1350px) {
    .about {

        &__container {
            grid-template-areas: "title"
                        "img"
                        "paragraph";
                   
        -ms-grid-rows: auto auto auto;
                   
        grid-template-rows: auto auto auto;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

        &__title {
            margin: 0 0 30px 0;
        }

        &__img {
            margin: 0 20px 15px 0;
        }

        &__paragraph {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 800px) {
    .about {

        padding: 60px 0 80px 0;

        &__title {
            max-width: 100%;
            font-size: 24px;
            line-height: 1.6;
        }

        &__img {
            margin: 0 0 15px 0;
        }

        &__paragraph {
            font-size: 14px;
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 640px) {

    .locations {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-line-pack: center;
            align-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;

        &__title {
            font-size: 26px;
            max-width: 100%;  
            margin: 0 auto 30px auto;
            line-height: 1.6;
        }

        &__subtitle {
            margin: 0 0 25px 0;
        }

        &__button {
            padding: 4px;
        }

        &__button--next {
            margin: 0 0 20px 30px;
        }
    }

    .locations .tns-controls {
        margin: 0 auto;
    }
}

/* === Blog === */
@media screen and (max-width: 1250px) {
    .blog {

        &__container {
            -ms-grid-columns: 1fr 3vw 1fr;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3vw;
        }
    }
}

@media screen and (max-width: 800px) {
    .blog {

        &__title {
            font-size: 26px;   
        }

        &__container {
            -ms-grid-columns: 1fr;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 7vw;
        }

        .post {
            width: 90%;
            height: auto;

            &__btn {
                margin: 0 auto 15px auto;
            }
        }

        
    }
}

/* === Contact === */
@media(max-width: 1300px) {
    .contact {

        .form {

            &__flex {
                max-width: 80%;
            }

            &__textarea {
                width: 80%;
            }
    
            &__label {
                width: 250px;
            }
        }
    }
}

@media(max-width: 1050px) {
    .contact {

        &__container {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }

        &__middle,
        .sidebar {
            width: 100%;
        }
    }
}

/* === Footer === */
@media(max-width: 900px) {
    .footer {

        &__copy {
            font-size: 16px;
        }
    }
}

@media(max-width: 700px) {
    .footer {

        &__copy {
            font-size: 12px;
        }
    }
}

@media(max-width: 750px) {
    .contact {
        padding: 0;

        &__title {
            font-size: 26px;          
        }

        .form {

            &__flex {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                max-width: 100%;
            }

            &__item {
                margin: 0 0 20px 0;
            }

            &__label {
                width: 110%;
            }

            &__textarea {
                height: 120px;
                width: 100%;
            }
        }
    }
}


/* === Adjust Portrait === */

/* === Home === */
@media screen and (max-height: 600px) {
    .home {
        margin: 0 0 140px 0;

        &__background {
            height: 115vh;
        }
    }
}

@media screen and (max-height: 400px) {
    .home {
        margin: 0 0 245px 0;

        &__content {
            top: 35%;
            left: 5%;
        }

        &__background {
            height: 160vh;
        }
    }    
}

@media screen and (max-height: 300px) {
    .home {
        margin: 0 0 265px 0;

        &__background {
            height: 190vh;    
        }
    }
} 

/* === Locations === */
@media screen and (max-height: 600px) {
    .locations {

        &__title {
            margin: 0 0 30px 0;
        }
    }
}


