/* === Header === */
@media(max-width: 800px) {
    .nav {
       
        &__list {
            flex: 100%;
            flex-direction: column;
            text-align: center;
            transition: linear 0.205s;
            height: 300px;
            background-color: #fafffb;
            width: 100%;
        }

        &__item {
            margin: 0;
        }

        &__link {
            line-height: 60px;
            color: #2b2b2b;
        }

        &__bars {
            display: flex;
        }

        .hidden {
            visibility: hidden;
            opacity: 0;
            height: 0;
        }
    }
}

/* === Home === */
@media screen and (max-width: 1000px) {
    .home {
        
        &__content {
            
            max-width: 80%;
        }
    
        &__title {
            font-size: 36px; 
        }
    }
}

@media screen and (max-width: 600px) {
    .home {

        &__background {
            height: 100vh;
        }

        &__content {
            max-width: 90%;
            top: 20%;
        }

        &__title {
            font-size: 28px;
            line-height: 1.4;
            margin: 0 0 25px 0;
        }

        &__paragraph {
            margin: 0 0 40px 0; 
        }
    }

    .search {
        width: 90%;
        height: 150px;
        padding: 20px 10px;
        flex-wrap: wrap;

        &__title {
            font-size: 14px;
        }

        &__description {
            font-size: 14px;
            margin: 0 0 10px 0;
        }

        &__btn {
            padding: 0 15px;
            flex: 60%;
            height: 50%;
            text-align: center;
        }
    }
}

@media screen and (max-width: 320px) {
    .home {

        &__title {
            font-size: 24px;
        }
    }
}

@media screen and (max-height: 425px) {
    .home {

        &__background {
            height: 150vh;
        }
    }
}