* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';

}

.container {
    max-width: 90%;
    margin: 0 auto;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* === Header === */
.header {
    position: fixed;
    width: 100%; 
    z-index: 9999999;  
    transition: linear 0.3s; 
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0 0 0;
    


    &__logo {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.05rem;
        color: #fff;
    }

    &__list {
        display: flex;
    }

    &__item {
        list-style: none;
        margin: 0 0 0 30px;
    }

    &__link {
        color: #fff;
        font-weight: 500;
    }   

    &__bars {
        width: 60px;
        height: 35px;
        transition: all .3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 15px;
        z-index: 2; 
        cursor: pointer;   
        display: none;       
    }

    &__burger {
        width: 22px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
    }

    &__burger--sticky {
        background-color: black;    
    }
}

.sticky {
    background-color: #fafffb;
    box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
    padding: 0.075em 0;
    transition: linear 0.3s; 
}

/* === Home === */
.home {
    position: relative; 
    height: 100vh;
    margin: 0 0 150px 0;
         

    &__content {
        position: absolute;
        z-index: 999;
        top: 25%;
        left: 5%;
    }

    &__title {
        font-size: 44px;
        line-height: 1.5;
        color: #fff;  
        max-width: 40rem; 
        margin: 0 0 15px 0;        
    }

    &__paragraph {
        color: darken($color: #fff, $amount: 20);
        max-width: 35rem; 
        line-height: 1.7;
        margin: 0 0 30px 0;
    }

    &__background {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 110vh; 
    }

    &__background--1 {
        background-image: url(/assets/images/home-img-1.webp);
    }

    &__background--2 {
        background-image: url(/assets/images/home-img-2.webp);
    }

    &__background--3 {
        background-image: url(/assets/images/home-img-3.webp);
    }

    &__background--4 {
        background-image: url(/assets/images/home-img-4.webp);
    }

    &__background--5 {
        background-image: url(/assets/images/home-img-5.webp);
    }

    &__background--6 {
        background-image: url(/assets/images/home-img-6.webp);
    }
}

.search {
    width: 90%;
    height: 100px;
    background-color: #fff;  
    border: 1px solid #5BC0A9;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    &__item {
        display: flex;
        flex-direction: column
    }

    &__title {
        font-size: 16px;
        margin: 0 0 5px 0;
        color: lighten($color: #000000, $amount: 20);
    }

    &__description {
        color: #5BC0A9; 
        font-weight: 600;
    }

    &__btn {
        background-color: #5BC0A9; 
        color: #fff;
        display: block;
        height: 80%;
        padding: 0 30px;
        text-align: center;
        display: flex;
        align-items: center;
    }
}

/* === Locations === */
.locations {

    &__title {
        max-width: 30%;
        line-height: 1.8;
        font-size: 32px;
        color: lighten($color: #000000, $amount: 15);
        margin: 0 0 30px 0;
    }

    &__item {
        margin: 0 15px 0 0;
    }

    &__img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
}

.locations .tns-controls {
    margin-left: 75%;
    margin-bottom: 15px;
    outline: none;
}

.locations .tns-controls button {
    appearance: none;
}

.prev-button {
    border: solid #454343;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
    margin: 0 0 20px 0;
    transition: ease 0.2s;
}

.next-button:hover {
    border: solid black;
    border-width: 0 3px 3px 0;
}

.prev-button:hover {
    border: solid black;   
    border-width: 0 3px 3px 0;
}

.next-button {
    border: solid #454343;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 0 0 20px 80px;
    transition: ease 0.2s;

}





@import 'animate';
@import 'responsive';
@import 'utilities';



