* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';

}

.container {
    max-width: 90%;
    margin: 0 auto;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* === Header === */
.header {
    position: fixed;
    width: 100%; 
    z-index: 9999999;   
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;


    &__logo {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.05rem;
        color: #fff;
    }

    &__list {
        display: flex;
    }

    &__item {
        list-style: none;
        margin: 0 0 0 30px;
    }

    &__link {
        color: #fff;
        font-weight: 500;
    }   

    &__bars {
        width: 60px;
        height: 35px;
        transition: all .3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 15px;
        z-index: 2; 
        cursor: pointer;   
        display: none;       
    }

    &__burger {
        width: 22px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
    }
}

.sticky {
    background-color: #fafffb;
    box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
    padding: 0.075em 0;
    transition: ease 0.2s;
}

/* === Home === */
.home {
    position: relative; 
    height: auto;

    &__content {
        position: absolute;
        z-index: 999;
        max-width: 50%;
        padding: 160px 0px 0 70px;
    }

    &__title {
        font-size: 46px;
        line-height: 1.5;
        color: #fff;  
        max-width: 40rem; 
        margin: 0 0 15px 0;        
    }

    &__paragraph {
        color: darken($color: #fff, $amount: 20);
        max-width: 35rem; 
        line-height: 1.7;
    }

    &__background {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;    
    }

    &__background--1 {
        background-image: url(/assets/images/home-img-1.png);
    }

    &__background--2 {
        background-image: url(/assets/images/home-img-2.png);
    }

    &__background--3 {
        background-image: url(/assets/images/home-img-3.png);
    }

    &__background--4 {
        background-image: url(/assets/images/home-img-4.png);
    }

    &__background--5 {
        background-image: url(/assets/images/home-img-5.png);
    }

    &__background--6 {
        background-image: url(/assets/images/home-img-6.png);
    }

}






@import 'animate';
@import 'responsive';
@import 'utilities';



