* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';

}

body {
    background-color: #fff;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* === Header === */
.header {
    position: fixed;
    width: 100%; 
    z-index: 9999999;  
    transition: linear 0.3s; 
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 0 0;
    


    &__logo {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.05rem;
        color: #fff;
    }

    &__logo img {
        width: 150px;
        height: 40px;
        object-fit: cover;
    }

    &__img--hidden {
        display: none;
    }

    &__list {
        display: flex;
    }

    &__item {
        list-style: none;
        margin: 0 0 0 30px;
    }

    &__link {
        color: #fff;
        font-weight: 500;
    }   

    &__bars {
        width: 60px;
        height: 35px;
        transition: all .3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 15px;
        z-index: 2; 
        cursor: pointer;   
        display: none;       
    }

    &__burger {
        width: 22px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
    }

    &__burger--sticky {
        background-color: #509E87;    
    }
}

.sticky {
    background-color: #fafffb;
    box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
    padding: 0.075em 0;
    transition: linear 0.3s; 
}

/* === Home === */
.home {
    position: relative; 
    height: 100vh;
    margin: 0 0 160px 0;
    
         

    &__content {
        position: absolute;
        z-index: 999;
        top: 25%;
        left: 5%;
    }

    &__title {
        font-size: 44px;
        line-height: 1.5;
        color: #fff;  
        max-width: 40rem; 
        margin: 0 0 15px 0;        
    }

    &__paragraph {
        color: darken($color: #fff, $amount: 20);
        max-width: 35rem; 
        line-height: 1.7;
        margin: 0 0 30px 0;
    }

    &__background {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 110vh; 
    }

    &__background--1 {
        background-image: url(/assets/images/home-img-1.webp);
    }

    &__background--2 {
        background-image: url(/assets/images/home-img-2.webp);
    }

    &__background--3 {
        background-image: url(/assets/images/home-img-3.webp);
    }

    &__background--4 {
        background-image: url(/assets/images/home-img-4.webp);
    }

    &__background--5 {
        background-image: url(/assets/images/home-img-5.webp);
    }

    &__background--6 {
        background-image: url(/assets/images/home-img-6.webp);
    }
}

.search {
    width: 90%;
    height: 100px;
    background-color: #fff;  
    border: 1px solid #5BC0A9;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    &__item {
        display: flex;
        flex-direction: column
    }

    &__title {
        font-size: 16px;
        margin: 0 0 5px 0;
        color: lighten($color: #000000, $amount: 20);
    }

    &__description {
        color: #5BC0A9; 
        font-weight: 600;
    }

    &__btn {
        background-color: #5BC0A9; 
        color: #fff;
        display: block;
        height: 80%;
        padding: 0 30px;
        text-align: center;
        display: flex;
        align-items: center;
        transition: ease 0.2s;
    }

    &__btn:hover {
        background-color: darken($color: #5BC0A9, $amount: 10);
    }
}

/* === About === */
.about {
    padding: 150px 0 110px 0;
    margin: 0 0 40px 0;
    background-color: #F5F5F5;

    &__container {
        display: flex;
        
    }

    &__title {
        max-width: 70%;
        margin: 0 0 20px 0;
        font-size: 28px;
        color: lighten($color: #000000, $amount: 15);
    }

    &__paragraph {
        line-height: 1.9;
        color: lighten($color: #000000, $amount: 35);
        max-width: 80%;
    }

    &__img {
        margin: 0 25px 0 0;
        border-radius: 5px;
        max-width: 450px;
        object-fit: cover;
    }
}

/* === Locations === */
.locations {
    background-color: #fff;

    &__title {
        max-width: 30%;
        line-height: 1.8;
        font-size: 32px;
        color: lighten($color: #000000, $amount: 15);
        margin: 0 0 60px 0;
    }

    &__title::after {
        content: '';
        height: 2px;
        background-color: black;
        width: 50%;
        display: block;
    }

    &__subtitle {
        color: darken($color: #fff, $amount: 45);
    }

    &__button {
        border: solid #454343;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 6px;  
        transition: ease 0.2s;
    }

    &__button:hover {
        border: solid black;
        border-width: 0 3px 3px 0;    
    }

    &__button--prev {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        margin: 0 0 20px 0;
    }

    &__button--next {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        margin: 0 0 20px 60px;
    }

    &__item {
        margin: 0 15px 70px 0;
    }

    &__item:hover {
        cursor: move;
        cursor: -webkit-grab;
        cursor: grab;
    }

    &__icons {
        display: flex;
        
        padding: 8px 0;
    }

    &__icon {
        font-size: 13px;
        font-weight: 600;
        color: lighten($color: #000000, $amount: 20);
        margin: 0 20px 0 0;
    }

    &__icon i {
        font-size: 14px;
        color: darken($color: #fff, $amount: 25);
    }

    &__number {
        font-size: 13px;
        color: darken($color: #fff, $amount: 40);
    }

    &__address,
    &__description {
        font-size: 13px;  
    }

    &__description {
        font-weight: 600;
    }
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5); 
    opacity: 1;
    transition: .8s ease;
    backface-visibility: hidden;     
    display: block; 
    filter: brightness(1);

    &__container {
        position: relative;
    }

    

    &__middle {
        transition: .8s ease;
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: auto;
        
        text-align: center;
        width: 100%;
    }

    &__text {
        background-color: #50A890;
        padding: 16px 32px;
        width: 100%;
    }

    &__link {
        color: white;
        font-size: 16px;
    }

}

.image__container:hover .image {
    filter: brightness(0.5);
}
  
.image__container:hover .image__middle {
    opacity: 1;
}
  

.locations .tns-controls {
    margin-left: 75%;
    margin-bottom: 15px;
    outline: none;
}

.locations .tns-controls button {
    appearance: none;
    background: none;
}



@import 'animate';
@import 'responsive';
@import 'utilities';



