* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';

}

body {
    background-color: #fff;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* === Header === */
.header {
    position: fixed;
    width: 100%; 
    z-index: 9999999;  
    transition: linear 0.3s; 
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 0 0;
    


    &__logo {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.05rem;
        color: #fff;
    }

    &__logo img {
        width: 150px;
        height: 40px;
        object-fit: cover;
    }

    &__img--hidden {
        display: none;
    }

    &__list {
        display: flex;
    }

    &__item {
        list-style: none;
        margin: 0 0 0 30px;
    }

    &__link {
        color: #fff;
        font-weight: 500;
    }   

    &__bars {
        width: 60px;
        height: 35px;
        transition: all .3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 15px;
        z-index: 2; 
        cursor: pointer;   
        display: none;       
    }

    &__burger {
        width: 22px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
    }

    &__burger--sticky {
        background-color: #509E87;    
    }
}

.sticky {
    background-color: #fafffb;
    box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
    padding: 0.075em 0;
    transition: linear 0.3s; 
}

/* === Home === */
.home {
    position: relative; 
    height: 100vh;
    margin: 0 0 160px 0;
    
         

    &__content {
        position: absolute;
        z-index: 999;
        top: 25%;
        left: 5%;
    }

    &__title {
        font-size: 44px;
        line-height: 1.5;
        color: #fff;  
        max-width: 40rem; 
        margin: 0 0 15px 0;        
    }

    &__paragraph {
        color: darken($color: #fff, $amount: 20);
        max-width: 35rem; 
        line-height: 1.7;
        margin: 0 0 30px 0;
    }

    &__background {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 110vh; 
    }

    &__background--1 {
        background-image: url(/assets/images/home-img-1.webp);
    }

    &__background--2 {
        background-image: url(/assets/images/home-img-2.webp);
    }

    &__background--3 {
        background-image: url(/assets/images/home-img-3.webp);
    }

    &__background--4 {
        background-image: url(/assets/images/home-img-4.webp);
    }

    &__background--5 {
        background-image: url(/assets/images/home-img-5.webp);
    }

    &__background--6 {
        background-image: url(/assets/images/home-img-6.webp);
    }
}

.search {
    width: 90%;
    height: 100px;
    background-color: #fff;  
    border: 1px solid #5BC0A9;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    &__item {
        display: flex;
        flex-direction: column
    }

    &__title {
        font-size: 16px;
        margin: 0 0 5px 0;
        color: lighten($color: #000000, $amount: 20);
    }

    &__description {
        color: #5BC0A9; 
        font-weight: 600;
    }

    &__btn {
        background-color: #5BC0A9; 
        color: #fff;
        display: block;
        height: 80%;
        padding: 0 30px;
        text-align: center;
        display: flex;
        align-items: center;
        transition: ease 0.2s;
    }

    &__btn:hover {
        background-color: darken($color: #5BC0A9, $amount: 10);
    }
}

/* === Locations === */
.locations {
    background-color: #fff;

    &__title {
        max-width: 30%;
        line-height: 1.8;
        font-size: 32px;
        color: lighten($color: #000000, $amount: 15);
        margin: 0 0 60px 0;
    }

    &__title::after {
        content: '';
        height: 2px;
        background-color: black;
        width: 50%;
        display: block;
    }

    &__subtitle {
        color: darken($color: #fff, $amount: 45);
    }

    &__button {
        border: solid #454343;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 6px;  
        transition: ease 0.2s;
    }

    &__button:hover {
        border: solid black;
        border-width: 0 3px 3px 0;    
    }

    &__button--prev {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        margin: 0 0 20px 0;
    }

    &__button--next {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        margin: 0 0 20px 60px;
    }

    &__item {
        margin: 0 15px 70px 0;
    }

    &__item:hover {
        cursor: move;
        cursor: -webkit-grab;
        cursor: grab;
    }

    &__icons {
        display: flex;
        
        padding: 8px 0;
    }

    &__icon {
        font-size: 12px;
        font-weight: 600;
        color: lighten($color: #000000, $amount: 30);
        margin: 0 20px 0 0;
    }

    &__icon i {
        font-size: 14px;
        color: darken($color: #fff, $amount: 25);
    }

    &__number {
        font-size: 13px;
        color: darken($color: #fff, $amount: 40);
    }

    &__address,
    &__description {
        font-size: 13px;  
    }

    &__description {
        font-weight: 600;
        font-size: 14px;
        color: lighten($color: #000000, $amount: 30);
    }
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5); 
    opacity: 1;
    transition: .8s ease;
    backface-visibility: hidden;     
    display: block; 
    filter: brightness(1);
    margin: 0 0 8px 0;

    &__container {
        position: relative;
    }

    

    &__middle {
        transition: .8s ease;
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: auto;
        
        text-align: center;
        width: 100%;
    }

    &__text {
        background-color: #50A890;
        padding: 16px 32px;
        width: 100%;
    }

    &__link {
        color: white;
        font-size: 16px;
    }

}

.image__container:hover .image {
    filter: brightness(0.5);
}
  
.image__container:hover .image__middle {
    opacity: 1;
}
  

.locations .tns-controls {
    margin-left: 75%;
    margin-bottom: 15px;
    outline: none;
}

.locations .tns-controls button {
    appearance: none;
    background: none;
}

/* === About === */
.about {
    padding: 150px 0 110px 0;
    margin: 0 0 80px 0;
    background-color: darken($color: #ffffff, $amount: 5);

    &__container {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-areas: "img title"
                       "img  paragraph";
                       
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr 1fr;
    }

    &__title {
        max-width: 70%;
        margin: 0 0 20px 0;
        font-size: 28px;
        color: lighten($color: #000000, $amount: 30);
        grid-area: title;
        line-height: 1.8;
        text-align: start;
    }

    &__title::after {
        content: '';
        height: 2px;
        background-color: lighten($color: #000000, $amount: 30);
        width: 50%;
        display: block;
    }

    &__paragraph {
        line-height: 1.9;
        color: lighten($color: #000000, $amount: 40);
        max-width: 90%;
        grid-area: paragraph;
    }

    &__img {
        margin: 0 35px 0 0;
        border-radius: 5px;
        max-width: 90%;
        object-fit: cover;
        grid-area: img;
    }
}

/* === Blog === */
.blog {
    margin: 0 0 80px 0;

    &__title {
        line-height: 1.8;
        font-size: 32px;
        color: lighten($color: #000000, $amount: 15);
        margin: 0 auto 60px auto;
        text-align: center        
    }

    &__title::after {
        content: '';
        height: 2px;
        background-color: black;
        width: 30%;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
    }

    .post {
        width: 360px;
        height: 500px;
        box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
        border-radius: 4px;
        

        &__img {
            width: 100%;
            height: 50%;
            object-fit: cover;
            margin: 0 0 8px 0;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
        }

        &__title {
            text-align: center;
            color: lighten($color: #000000, $amount: 25);
            font-size: 16px;
            padding: 0 6px 0 6px;  
            margin: 0 0 15px 0;        
        }

        &__paragraph {
            text-align: center;
            color: lighten($color: #000000, $amount: 30);
            font-size: 14px;
            padding: 0 20px; 
            margin: 0 0 15px 0;     
        }

        &__btn {
            color: #50A890;
            border: 1px solid #50A890;
            font-size: 13px;
            padding: 5px 15px;
            text-align: center;
            display: block;
            width: 110px;
            margin: 0 auto 25px auto;
            transition: ease 0.1s;
        }

        &__btn:hover {
            background-color: #50A890;
            color: #fff;
        }
    }
}

/* === Contact === */
.contact {
    background-color: darken($color: #F5F5F5, $amount: 3);
    padding: 20px 0 60px 0;

    &__container {
        display: flex;
    }

    &__middle {
        width: 70%;
    }

    &__title {
        line-height: 1.8;
        font-size: 32px;
        color: lighten($color: #000000, $amount: 30);
        margin: 60px 0 20px 0;      
    }

    &__title::after {
        content: '';
        height: 2px;
        background-color: lighten($color: #000000, $amount: 30);
        width: 30%;
        display: block;
    }

    &__paragraph {
        margin: 0 0 20px 0;
        color: lighten($color: #000000, $amount: 40);
    }

    .form {

        &__title {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.1ch;
            margin: 0 0 5px 0;
            color: lighten($color: #000000, $amount: 30);
        }

        &__flex {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 0 40px 20px 0;
        }

        &__label {
            border: none;
            outline: none;
            height: 46px;
            width: 350px;
            background-color: #fff;
            border-radius: 3px;
            padding: 0 1.25em;
        }

        &__textarea {
            width: 90%;
            border: none;
            outline: none;
            background-color: #fff;
            border-radius: 3px;
            resize: none;
            margin: 0 0 15px 0;
            padding: 0.625em 1.25em;
        }

        &__btn {
            display: block;
            height: 40px;
            width: 160px;
            border: none;
            outline: none;
            background-color: #5BC0A9; 
            border-radius: 3px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            transition: ease 0.1s;
        }

        &__btn:hover {
            background-color: darken($color: #5BC0A9, $amount: 10);    
        }
    }

    .sidebar {
        background-color: #F5F5F5;
        width: 30%;
        padding: 20px;
        margin: 60px 0; 
        
        &__items {
            margin: 0 0 25px 0;
        }

        &__item {
            margin: 0 0 15px 0;
        }

        &__title {
            color:  darken($color: #5BC0A9, $amount: 30);
            font-size: 18px;
            letter-spacing: 0.06ch;   
            margin: 0 0 5px 0;
        }

        &__paragraph {
            margin: 0 0 3px 0;
        }

        &__icon {
            width: 40px;
            height: 40px;
            cursor: pointer;
            margin: 0 15px 0 0;
        }
    }
}

/* === Footer === */
.footer {
    height: 80px;
    background-color: darken($color: #5BC0A9, $amount: 50);
    display: flex;
    align-items: center;
    justify-content: center;

    &__copy {
        color: #fff;
        font-size: 19px;
        text-align: center;
    }

    &__link {
        color: darken($color: #fff, $amount: 20);
        text-decoration: underline
    }
}



@import 'animate';
@import 'responsive';
@import 'utilities';



