* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';

}

.container {
    max-width: 90%;
    margin: 0 auto;
   
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%; 
    z-index: 9999;   
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;


    &__logo {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.05rem;
        color: #fff;
    }

    &__list {
        display: flex;
    }

    &__item {
        list-style: none;
        margin: 0 0 0 30px;
    }

    &__link {
        color: #fff;
        font-weight: 500;
    }   
}

.home {

    &__background {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;    
    }

    &__background--1 {
        background-image: url(/assets/images/home-img-1.png);
    }

    &__background--2 {
        background-image: url(/assets/images/home-img-2.png);
    }

    &__background--3 {
        background-image: url(/assets/images/home-img-3.png);
    }

    &__background--4 {
        background-image: url(/assets/images/home-img-4.png);
    }

    &__background--5 {
        background-image: url(/assets/images/home-img-5.png);
    }

    &__background--6 {
        background-image: url(/assets/images/home-img-6.png);
    }
    
}





@import 'animate';
@import 'responsive';
@import 'utilities';



