* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';

}

.container {
    max-width: 90%;
    margin: 0 auto;
   
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%;    
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;


    &__logo {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.05rem;
        color: #fff;
    }

    &__list {
        display: flex;
    }

    &__item {
        list-style: none;
        margin: 0 0 0 30px;
    }

    &__link {
        color: #fff;
        font-weight: 500;
    }   
}

.home {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide linear 30s infinite;

    &__load {
        animation: slide 2s;
    }
}

@keyframes slide {
    0% {
        background-image: url(../images/home-img-1.png);
    }

    20% {
        background-image: url(../images/home-img-2.png);
    }

    40% {
        background-image: url(../images/home-img-3.png);
    }

    60% {
        background-image: url(../images/home-img-4.png)
    }

    80% {
        background-image: url(../images/home-img-5.png);
    }

    100% {
        background-image: url(../images/home-img-6.png);
    }
}


@import 'animate';
@import 'responsive';
@import 'utilities';



